* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #be3144;
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 5px solid black;
    min-height: 650px;
    background: #303841;
    max-width: 550px;
}

.screen {
    margin: 20px;
    border: 5px solid #2a2438;
    box-shadow: 5px 5px 5px black;
    min-height: 150px;
    background: #d3d6db;
    font-size: 50px;
}



button {
    box-shadow: 5px 5px 5px black;
    height: 60px;
    width: 100px;
    background: #be3144;
    border: 3px solid black;
    transition: .2s;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
}

.btns {
    background: #303841;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.equal {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.nums {
    background: #303841;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}