* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 5px solid black;
    height: 650px;
    width: 500px;
}

.screen {
    border: 3px solid black;
    height: 150px;
    margin: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    height: 60px;
    width: 100px;
}